@{
  Layout = "_Layout";
}

@model FoodStore.Models.Store
<h4>Add a new Store</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ItemName)
  @Html.TextBoxFor(model => model.ItemName)
  @Html.LabelFor(model => model.Quantity)
  @Html.TextBoxFor(model => model.Quantity)

  @Html.Label("Pick a store to send this item to:")
  @Html.DropDownList("StoreId")
  
  <input type= "submit" value="Add new item"/>
}
<p>@Html.ActionLink("Show all items", "Index")</p>

